.kalender {
    border: 0;
    width: 1200px;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    overflow: hidden;
}