

.text {
  line-height: 1.5 !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2em;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  padding: 0 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-start: 2;
  padding-bottom: 30px;
 }

.img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    font-size: 0.9rem;
  }
}
